#news
{
  font-size: 150px; 
}


#paraslfhsdkjfdskaflaksd
{
  margin-left: 300px;
  margin-right: 300px;
  margin-top: -170px;
  font-weight:;
  font-color: black;
  font-size: 15px; 
  background-color: #99ffff;
  background-size: auto;
}
	
	
	
	
	